<!DOCTYPE html>
<html>
    <head>
        <title><$dynamic name here (future feature)></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <meta name="robots" content="nofollow">
        <meta name="googlebot" content="noindex">
        <meta name="googlebot-news" content="nosnippet">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <style> 
            body { font-size:150%;}
            
            a:link {
                color: crimson;
                background-color: transparent;
                text-decoration: none;
              }
              
              a:visited {
                color: red;
                background-color: transparent;
                text-decoration: none;
              }
              
              a:hover {
                color: crimson;
                background-color: transparent;
                text-decoration: underline;
                font-size: 102%;
              }
              
              a:active {
                color: purple;
                background-color: transparent;
                text-decoration: underline;
              }
              
              hr { width:150px;}

              .social { text-align: center;  margin: auto; }
              .social ul { list-style: none; padding-left:0px;}
              .social ul li { display: inline; padding:20px;margin:2px;}

              .web-apps { text-align: left; width:70%; margin: auto;/*list-style-position: inside; /*margin: auto;*/ }
              /*.web-apps ol { list-style-type: circle; padding-left:0px;}*/
              /*.web-apps ol li { display: inline; padding:20px;margin:2px;}*/

              h4 {margin:auto; text-align:center; font-size:110%;}

              .forums { text-align: left; width:70%; margin: auto;/*list-style-position: inside; /*margin: auto;*/ }
              
              h1 {
                padding-top:100px;
                padding-bottom:25px;    
            }
            .bar-chart {
                text-align: left; width:70%; margin: auto;
            }
            .bar-chart img {  
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
            .bar-chart p {
                text-align: left; width:92%; margin: auto; padding:20px;
            }
        </style>
    </head>
    <body>
      <div class="web-apps">
      <h1 id="how-do-i-download-cultivate-maintain-handle-and-restore-a-manual-archive-of-postgres-backups-">"How do I download, cultivate, maintain, handle, and restore a manual archive of Postgres backups?"</h1>
      <p>I conceived this note to self (gist) on Friday 9 April 2021 with multiple subsequent revisions.
      The main guide that I am working with is &quot;<a href="https://devcenter.heroku.com/articles/heroku-postgres-backups">Heroku PGBackups</a>&quot;
      The lesser guide I also used was &quot;<a href="https://devcenter.heroku.com/articles/heroku-postgres-import-export">Heroku Postgres import export</a>&quot;.</p>
      <h2 id="backing-up-downloading-">BACKING UP (DOWNLOADING)</h2>
      <p>There are two methods of backup data. The easy way is using Heroku&#39;s web GUI Dashboard. The hardway is via CLI.</p>
      <h3 id="method-1-heroku-dashboard-quick-">Method #1: Heroku Dashboard (quick)</h3>
      <p>Visit <a href="https://i.imgur.com/VeMB96K.jpg">the location in my Heroku Dashboard for the NAVY Postgres instance</a>. (I keep a copy of this image locally in my <code>/home/&lt;user&gt;/Dropbox/bax/web/tarot_juicer_Heroku_AWS/NAVY-real-prod/</code> directory.) As you can see, all you need to do is click the purple: &quot;Create Manual Backup&quot; button and then click the white/purple &quot;Download&quot; button to the location on your local machine.</p>
      <h3 id="method-2-cli-long-winded-">Method #2: CLI (long winded)</h3>
      <p>To duplicate or clone a Postgres instance, use:</p>
      <blockquote>
      <p>$ heroku pg:backups:capture NAVY -a tarot-prod # grab &#39;real&#39; content db</p>
      </blockquote>
      <p>NAVY is the name of the silo which contains my ‘real’ prod content as of this writing but it may be different next time, so be careful.</p>
      <p>To create a public (but ephemeral - valid for 1 hour) hyperlink to the db where b008 is the number as it appears at the very bottom of the output of the previous command. </p>
      <blockquote>
      <p>$ heroku pg:backups:url b008 -a tarot-prod </p>
      </blockquote>
      <p>Example output can include: </p>
      <ul>
      <li>https://xfrtu.s3.amazonaws.com/d96f2568-66a5-41f4-9293-b1a886ef6133/2021-04-09T12%3A06%3A58Z/313aab34-80ec-48ae-bce7-6308b72b1dfd?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAQKF7VQWOLOW4WWWL%2F20210409%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20210409T121047</li>
      <li>https://xfrtu.s3.amazonaws.com/d96f2568-66a5-41f4-9293-b1a886ef6133/2021-04-09T14%3A26%3A14Z/6e56c624-6c6b-4577-bee4-cb3639bbf287?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAQKF7VQWOLOW4WWWL%2F20210409%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20210409T142814Z&amp;X-Amz-Expires=3600&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=17a1e9953763887c00070450be3916d16d41926a79456dd931c3531ee258ee87</li>
      </ul>
      <p>More on downloading your backups <a href="https://devcenter.heroku.com/articles/heroku-postgres-backups#downloading-your-backups">can be found be found here</a>.</p>
      <p>To check the backup status:</p>
      <blockquote>
      <p>$ heroku pg:backups -a tarot-prod</p>
      </blockquote>
      <p>This should print a list of backups, including the crucial piece of information: “ID” (which is used in the next command). To get more detailed information about a given backup. Here is the info command:</p>
      <blockquote>
      <p>$ heroku pg:backups:info b008 -a tarot-prod </p>
      </blockquote>
      <p>Where <code>b008</code> is the ID as it appears in the list of the above command and <code>tarot-prod</code> is the name of the app.</p>
      <p>That will show the backup details for the silo ID’ed as b008. </p>
      <p>The next step is to download the latest dump using this command:</p>
      <blockquote>
      <p>$ heroku pg:backups:download -a tarot-prod</p>
      </blockquote>
      <p>This will download the most recent backup generated using the commands above showing at the very top of the list. The file name will show as: <code>latest.dump</code> which I can then rename and move to a different location on my local machine, such as my Dropbox folder.</p>
      <h2 id="restoring-uploading-">RESTORING (UPLOADING)</h2>
      <p>The advantage of maintaining a local archive is that Heroku’s silo backups are limited to 5 (I think) and aren’t retained past 30 days. So if there is a catastrophe (like there was on April 2nd, 2021), then my data will be lost. The advantage of keeping a list of local backups, I can retain the backups going as far back as I’d like. If this is the case, then the above technique for duplicating databases in the cloud is not the solution I need. </p>
      <p>If you aren’t copying one silo to another all in the cloud, and instead are maintaininn an archive of Postgres blobs locally to my home PC’s Dropbox ‘bax’ folder, then <a href="https://devcenter.heroku.com/articles/heroku-postgres-import-export#import-to-heroku-postgres">the main requirement for Heroku is that the blob <em>must</em> be uploaded to a public web hosting provider such as aws S3</a>. </p>
      <p>What follows is the background and full preliminary documentation onslaught required to understand how to complete backups/restores of Postgres DB’s to Heroku for my tarot_juicer project.</p>
      <h3 id="background-">Background:</h3>
      <p>The Heroku Doc titled &quot;<a href="https://devcenter.heroku.com/articles/heroku-postgres-import-export">Importing and Exporting Heroku Postgres Databases</a>&quot; states that: “<a href="https://devcenter.heroku.com/articles/heroku-postgres-import-export#import-to-heroku-postgres">In order for PG Backups to access and import your dump file you will need to upload it somewhere with an HTTP-accessible URL. We recommend using Amazon S3 with a signed url</a>.” </p>
      <p>When I read this in the Heroku Doc, my first reaction was that setting up an S3 bucket on AWS is a near-impossible task just because AWS is notorious for it&#39;s unrealistic learning curve in general. But I conquered it after a consultation on Upwork and with help from a kind soul for free on GitHub.  In the Heroku doc above, there is a link to another Heroku guide titled: &quot;<a href="https://devcenter.heroku.com/articles/s3">Using AWS S3 to Store Static Assets and File Uploads</a>&quot; which makes setting up S3 with AWS look straightforward and easy to follow along.</p>
      <p>As this process above, I leveraged &quot;<a href="https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-signed-urls.html">Signed URLs</a>&quot; on Amazon&#39;s website. </p>
      <p>With my collection of Postgres silos downloaded to Dropbox, to restore them, you need to use <a href="https://devcenter.heroku.com/articles/s3">Amazon S3</a>. </p>
      <h3 id="the-raw-commands">The Raw Commands</h3>
      <p>I’m assuming that you have already logged in as an IAM (root user) in AWS and created a bucket based on the guides above. </p>
      <p>Next, for your S3 bucket (I called mine <code>postgres-restore-tarot-juicer</code>), you need to add some JSON to the “Bucket Policy” under the bucket’s Permissions tab. Here is the JSON that UmarGit came up with:</p>
      <pre><code>{
          <span class="hljs-attr">"Version"</span>: <span class="hljs-string">"2012-10-17"</span>,
          <span class="hljs-attr">"Id"</span>: <span class="hljs-string">"Policy1625513624874"</span>,
          <span class="hljs-attr">"Statement"</span>: [
              {
                  <span class="hljs-attr">"Sid"</span>: <span class="hljs-string">"Stmt1625513623122"</span>,
                  <span class="hljs-attr">"Effect"</span>: <span class="hljs-string">"Allow"</span>,
                  <span class="hljs-attr">"Principal"</span>: <span class="hljs-string">"*"</span>,
                  <span class="hljs-attr">"Action"</span>: [
                      <span class="hljs-string">"s3:GetObject"</span>,
                      <span class="hljs-string">"s3:PutObject"</span>
                  ],
                  <span class="hljs-attr">"Resource"</span>: <span class="hljs-string">"arn:aws:s3:::postgres-restore-tarot-juicer/*"</span>
              }
          ]
      }
      </code></pre><p>Next you can generate a signed URL using the aws console:</p>
      <p><code>$ aws s3 presign s3://your-bucket-address/your-object</code></p>
      <p>As of this writing, today on 7 July 2021, this was the command I used:</p>
      <p><code>$ aws s3 presign s3://postgres-restore-tarot-juicer/2021June25_8801def6-27e0-4b88-875b-842be5704f0b</code></p>
      <p>That should generate a long bucket URI such as this (and in this format):
      <code>https://postgres-restore-tarot-juicer.s3.amazonaws.com/2021June25_8801def6-27e0-4b88-875b-842be5704f0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAY6KWYZACZM3OX2O6%2F20210707%2FOhio%2Fs3%2Faws4_request&amp;X-Amz-Date=20210707T000659Z&amp;X-Amz-Expires=3600&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=e722bdbe239d26a66f9bd51817ded67824bc56bbd051129ec09489128db9a0b1</code></p>
      <p>To test whether that will work, you can open it in a web browser. If Chrome prompts you with the download-to-file dialog box, then this will be proof that it’s working and you can proceed to the next step. But if you get an XML error, please head down to the bottom of this gist to the TROUBLESHOOTING heading for workarounds and things you can try. </p>
      <p>Once you know that link is valid, the next step is to restore. Be sure to use the presigned URL and enter the right COLOR from Heroku:</p>
      <p><code>$ heroku pg:backups:restore &#39;&lt;working presin’ed URI&gt;&#39; HEROKU_POSTGRESQL_&lt;COLOR&gt; --remote heroku --app tarot-prod --confirm tarot-prod</code></p>
      <p>If you accidentally enter the wrong COLOR, you will overwrite the old one, losing data. So be extra careful! </p>
      <p>This concludes how to backup/restore a Heroku Postgres DB.</p>
      <h3 id="troubleshooting-restores-with-s3">Troubleshooting Restores with S3</h3>
      <p>These are some potential errors you could encounter while presign’ing an S3 bucket (described earlier). </p>
      <p>Here is the first one:</p>
      <pre><code>This XML file does not appear to have any style information associated with it. The document tree is shown below.
      <span class="hljs-tag">&lt;<span class="hljs-name">Error</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Code</span>&gt;</span>AccessDenied<span class="hljs-tag">&lt;/<span class="hljs-name">Code</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Message</span>&gt;</span>Request has expired<span class="hljs-tag">&lt;/<span class="hljs-name">Message</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">X-Amz-Expires</span>&gt;</span>3600<span class="hljs-tag">&lt;/<span class="hljs-name">X-Amz-Expires</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Expires</span>&gt;</span>2021-07-07T01:06:59Z<span class="hljs-tag">&lt;/<span class="hljs-name">Expires</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">ServerTime</span>&gt;</span>2021-07-07T10:53:35Z<span class="hljs-tag">&lt;/<span class="hljs-name">ServerTime</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">RequestId</span>&gt;</span>3WD5533RANDGPJK8<span class="hljs-tag">&lt;/<span class="hljs-name">RequestId</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">HostId</span>&gt;</span>AD2cM2WTE171ZEQdPr7ELlZkeesO/XfSaT5pz6iGIFjRkvX++31cRjyl6wWL/skukRuXY3gvotU=<span class="hljs-tag">&lt;/<span class="hljs-name">HostId</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">Error</span>&gt;</span>
      </code></pre><p>If you get that specific error, that indicates that your URI has expired (it only lives for 3600 seconds or 1 hour). So if you generated the URI last night and it is 8 hours later, it won’t work. You’ll need to generate another URI.</p>
      <p>There are other XML errors that you may encounter such as this one:</p>
      <pre><code>This XML file does not appear to have any style information associated with it. The document tree is shown below.
      <span class="hljs-tag">&lt;<span class="hljs-name">Error</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Code</span>&gt;</span>AuthorizationQueryParametersError<span class="hljs-tag">&lt;/<span class="hljs-name">Code</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Message</span>&gt;</span>Error parsing the X-Amz-Credential parameter; the region 'Ohio' is wrong; expecting 'us-east-2'<span class="hljs-tag">&lt;/<span class="hljs-name">Message</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">Region</span>&gt;</span>us-east-2<span class="hljs-tag">&lt;/<span class="hljs-name">Region</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">RequestId</span>&gt;</span>ZEQYTCQ6BZ0PPPC0<span class="hljs-tag">&lt;/<span class="hljs-name">RequestId</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">HostId</span>&gt;</span>I2rlPtFOMWE88MMZG34vFeUd1p3BnyABGBa5P0vXW2tFvbH5H0k+iF/HbsbV4YMsoK/q0jkp/3g=<span class="hljs-tag">&lt;/<span class="hljs-name">HostId</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">Error</span>&gt;</span>
      </code></pre><p>If you get this error, this means your local awscli configuration files inside <code>~/.aws</code> include incorrect entries. To make a correction, execute these commands in your local shell:</p>
      <pre><code>
      $ <span class="hljs-keyword">export</span> AWS_ACCESS_KEY_ID=&lt;your-aws-access-key-<span class="hljs-keyword">id</span>&gt;
      $ <span class="hljs-keyword">export</span> AWS_SECRET_ACCESS_KEY=&lt;your-aws-secret-access-key&gt;
      $ <span class="hljs-keyword">export</span> AWS_DEFAULT_REGION=us-east<span class="hljs-number">-2</span>
      </code></pre><p>You can find these unique variables in your AWS Console as described in answers to this Stack Overflow question: <a href="https://stackoverflow.com/questions/21440709/how-do-i-get-aws-access-key-id-for-amazon">https://stackoverflow.com/questions/21440709/how-do-i-get-aws-access-key-id-for-amazon</a></p>
      <h2 id="further-reading-">FURTHER READING:</h2>
      <p>I may be able to use <a href="https://stackoverflow.com/questions/2732474/restore-a-postgres-backup-file-using-the-command-line">these Stack Overflow answers on how to restore a Postgres from file</a>, although I&#39;m not sure if this would work with Heroku.</p>
      
    </div> <!-- end web-apps -->
    </body>
</html>